body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:540px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u42960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u42960 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:121px;
  width:8px;
  height:14px;
  display:flex;
}
#u42960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(244, 245, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:36px;
}
#u42961 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:62px;
  width:375px;
  height:810px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:36px;
}
#u42961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u42963 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:106px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u42963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u42964 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:119px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u42964 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u42965 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:121px;
  width:7px;
  height:14px;
  display:flex;
}
#u42965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6271FF;
  text-align:right;
}
#u42966 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:119px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#6271FF;
  text-align:right;
}
#u42966 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42967 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:158px;
  width:375px;
  height:48px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42968 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:172px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42968 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42969 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:207px;
  width:375px;
  height:48px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42970 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:221px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42971 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:258px;
  width:375px;
  height:48px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42972 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:272px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42972 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42973 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:307px;
  width:375px;
  height:48px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u42973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42974 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:321px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42974 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 81, 165, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4851A5;
}
#u42975 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:375px;
  width:119px;
  height:30px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4851A5;
}
#u42975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u42976 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:172px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u42976 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u42977 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:272px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u42977 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42977_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u42978 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:321px;
  width:28px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u42978 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u42979 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:221px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u42979 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u42980 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:224px;
  width:8px;
  height:15px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u42980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u42982 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:12px;
  width:500px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#999999;
}
#u42982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u42984 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:16px;
  height:20px;
  display:flex;
}
#u42984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:55px;
}
#u42986 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:420px;
  height:55px;
  display:flex;
}
#u42986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:805px;
}
#u42987 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:95px;
  width:25px;
  height:805px;
  display:flex;
}
#u42987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:61px;
}
#u42988 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:839px;
  width:372px;
  height:61px;
  display:flex;
}
#u42988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:67px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u42989 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:833px;
  width:24px;
  height:67px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u42989 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:805px;
}
#u42990 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:95px;
  width:23px;
  height:805px;
  display:flex;
}
#u42990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u42991 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:62px;
  width:375px;
  height:44px;
  display:flex;
}
#u42991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
