body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:540px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u54996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(244, 245, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:36px;
}
#u54996 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:62px;
  width:375px;
  height:810px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:36px;
}
#u54996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u54999 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:106px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'.萍方-简 正规体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u54999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u55000 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:119px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u55000 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u55001 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:121px;
  width:7px;
  height:14px;
  display:flex;
}
#u55001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6271FF;
  text-align:center;
}
#u55002 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:120px;
  width:56px;
  height:16px;
  display:flex;
  color:#6271FF;
  text-align:center;
}
#u55002 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u55005 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:166px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u55005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55006 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:178px;
  width:84px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55006 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u55007 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:178px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u55007 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u55008 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:181px;
  width:9px;
  height:15px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u55009 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:209px;
  width:343px;
  height:1px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u55011 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:210px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u55011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55012 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:222px;
  width:84px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55012 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u55013 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:222px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u55013 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55013_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u55014 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:225px;
  width:9px;
  height:15px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u55016 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:270px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4851A5;
}
#u55016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55017 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:282px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55017 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u55018 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:282px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u55018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55018_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u55019 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:285px;
  width:9px;
  height:15px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u55019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(98, 113, 255, 1) 0%, rgba(157, 178, 249, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(98, 113, 255, 1) 0%, rgba(157, 178, 249, 1) 100%);
  background:linear-gradient(180deg, rgba(98, 113, 255, 1) 0%, rgba(157, 178, 249, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u55020 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:736px;
  width:343px;
  height:40px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u55020 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u55020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55022 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:62px;
  width:375px;
  height:810px;
  display:flex;
  opacity:0.600000023841858;
}
#u55022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55024 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:512px;
  width:375px;
  height:300px;
  display:flex;
}
#u55024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6271FF;
}
#u55025 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:527px;
  width:36px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6271FF;
}
#u55025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6271FF;
}
#u55026 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:527px;
  width:36px;
  height:20px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6271FF;
}
#u55026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u55027 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:561px;
  width:343px;
  height:1px;
  display:flex;
  color:#999999;
}
#u55027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u55028 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:777px;
  width:48px;
  height:16px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u55028 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55028_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u55029 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:732px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u55029 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55029_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u55030 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:672px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u55030 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55030_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u55031 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:618px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u55031 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55031_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u55032 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:578px;
  width:48px;
  height:16px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u55032 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55032_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u55033 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:658px;
  width:343px;
  height:1px;
  display:flex;
}
#u55033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u55034 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:711px;
  width:343px;
  height:1px;
  display:flex;
}
#u55034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u55036 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:12px;
  width:500px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#999999;
}
#u55036 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u55038 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:16px;
  height:20px;
  display:flex;
}
#u55038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u55039 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:16px;
  height:20px;
  display:flex;
}
#u55039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:55px;
}
#u55042 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:420px;
  height:55px;
  display:flex;
}
#u55042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:805px;
}
#u55043 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:95px;
  width:25px;
  height:805px;
  display:flex;
}
#u55043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:61px;
}
#u55044 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:839px;
  width:372px;
  height:61px;
  display:flex;
}
#u55044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:67px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u55045 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:833px;
  width:24px;
  height:67px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u55045 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:805px;
}
#u55046 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:95px;
  width:23px;
  height:805px;
  display:flex;
}
#u55046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u55047 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:62px;
  width:375px;
  height:44px;
  display:flex;
}
#u55047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55048_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:395px;
  height:80px;
}
#u55048 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:812px;
  width:375px;
  height:60px;
  display:flex;
  font-size:9px;
}
#u55048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u55050 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:812px;
  width:60px;
  height:60px;
  display:flex;
}
#u55050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55050_img.selected {
}
#u55050.selected {
}
#u55050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55052 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:850px;
  width:58px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u55053 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:820px;
  width:22px;
  height:22px;
  display:flex;
}
#u55053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55053_img.selected {
}
#u55053.selected {
}
#u55053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u55055 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:812px;
  width:60px;
  height:60px;
  display:flex;
}
#u55055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55055_img.selected {
}
#u55055.selected {
}
#u55055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC ', 'Heiti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55057 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:850px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'Heiti SC ', 'Heiti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55057 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u55058 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:820px;
  width:22px;
  height:22px;
  display:flex;
}
#u55058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55058_img.selected {
}
#u55058.selected {
}
#u55058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u55060 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:812px;
  width:60px;
  height:60px;
  display:flex;
}
#u55060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55060_img.selected {
}
#u55060.selected {
}
#u55060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55062 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:850px;
  width:28px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u55063 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:820px;
  width:22px;
  height:22px;
  display:flex;
}
#u55063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55063_img.selected {
}
#u55063.selected {
}
#u55063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u55065 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:812px;
  width:60px;
  height:60px;
  display:flex;
}
#u55065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55065_img.selected {
}
#u55065.selected {
}
#u55065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang TC ', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55067 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:850px;
  width:28px;
  height:14px;
  display:flex;
  font-family:'PingFang TC ', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u55067 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u55068 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:820px;
  width:20px;
  height:22px;
  display:flex;
}
#u55068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55068_img.selected {
}
#u55068.selected {
}
#u55068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u55069 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:814px;
  width:10px;
  height:10px;
  display:flex;
}
#u55069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
