body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15266 {
  position:fixed;
  left:50%;
  margin-left:-688px;
  top:50%;
  margin-top:-384px;
}
#u15266_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1376px;
  height:768px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:768px;
}
#u15268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:768px;
  display:flex;
}
#u15268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:314px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 231, 231, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15270 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:227px;
  width:406px;
  height:314px;
  display:flex;
}
#u15270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:2px;
}
#u15271 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:280px;
  width:406px;
  height:1px;
  display:flex;
}
#u15271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:2px;
}
#u15272 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:468px;
  width:406px;
  height:1px;
  display:flex;
}
#u15272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 57, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 57, 133, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15273 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:493px;
  width:65px;
  height:32px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u15274 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:493px;
  width:65px;
  height:32px;
  display:flex;
  color:#666666;
}
#u15274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15275 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:245px;
  width:324px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15278 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:345px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#E9E9E9;
}
#u15278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15279 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:345px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15280 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:345px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15281 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:345px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15282 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:343px;
  width:68px;
  height:16px;
  display:flex;
}
#u15282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u15283 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:345px;
  width:71px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FF9C00;
}
#u15283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u15283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15286 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:307px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15287 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:307px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15288 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:307px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15289 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:307px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15290 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:306px;
  width:68px;
  height:16px;
  display:flex;
}
#u15290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u15291 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:305px;
  width:71px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FF5050;
}
#u15291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u15291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15293 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:383px;
  width:70px;
  height:16px;
  display:flex;
}
#u15293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15295 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:385px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#E9E9E9;
}
#u15295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15296 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:385px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15297 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:385px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15298 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:385px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#E9E9E9;
}
#u15298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u15299 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:384px;
  width:71px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FF9C00;
}
#u15299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u15299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15301 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:423px;
  width:70px;
  height:16px;
  display:flex;
}
#u15301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15303 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:425px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FADB14;
}
#u15303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15304 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:425px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#E9E9E9;
}
#u15304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15305 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:425px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#E9E9E9;
}
#u15305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15306 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:425px;
  width:17px;
  height:18px;
  display:flex;
  font-family:'anticon ', 'anticon', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#E9E9E9;
}
#u15306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u15307 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:424px;
  width:71px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u15307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u15307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
